[Unit]
Description=Solana Labs Bootstrap Validator
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'ulimit -n 1000000 && \
    {{ labs_validator }} \
    --identity {{ bootstrap_keys_dir }}/id.json \
    --vote-account {{ bootstrap_keys_dir }}/vote.json \
    --ledger {{ ledger }} \
    --limit-ledger-size {{ ledger_size }} \
    --dynamic-port-range {{ port_start }}-{{ port_end }} \
    --no-genesis-fetch \
    --no-snapshot-fetch \
    --no-poh-speed-test \
    --no-os-network-limits-test \
    --expected-shred-version {{ genesis_yml.shred_version }} \
    --expected-genesis-hash {{ genesis_yml.genesis_hash }} \
    --no-wait-for-vote-to-start-leader \
    --incremental-snapshots \
    --full-snapshot-interval-slots {{ snapshot_interval }} \
    --rpc-port {{ rpc_port }} \
    --gossip-port {{ gossip_port }} \
    --gossip-host {{ gossip_host }} \
    --full-rpc-api \
    --tpu-disable-quic \
    --tpu-enable-udp \
    --log {{ ledger }}/bootstrap_validator.log'
Restart=on-failure
RestartSec=10s
