[Unit]
Description=Solana Labs Validator
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'ulimit -n 1000000 && \
    {{ labs_validator }} \
    --allow-private-addr \
    --identity {{ keys_dir }}/id.json \
    --vote-account {{ keys_dir }}/vote.json \
    --ledger {{ ledger }} \
    --limit-ledger-size {{ ledger_size }} \
    --dynamic-port-range {{ port_start }}-{{ port_end }} \
    --no-poh-speed-test \
    --no-os-network-limits-test \
    --entrypoint {{ solana_entrypoint }} \
    --rpc-port {{ rpc_port }} \
    --full-rpc-api \
    --log {{ ledger }}/validator.log'
Restart=on-falure
RestartSec=10s
