user = "{{ fd_user }}"
dynamic_port_range = "{{ port_start }}-{{ port_end }}"

[gossip]
    entrypoints = [
      "{{ fd_entrypoint }}",
    ]

[rpc]
    port = {{ rpc_port }}
    full_api = true

[ledger]
    path = "{{ ledger }}"
    limit_size = {{ ledger_size }}

[consensus]
    identity_path = "{{ keys_dir }}/id.json"
    vote_account_path = "{{ keys_dir }}/vote.json"
    poh_speed_test = false
    os_network_limits_test = false

    expected_genesis_hash = "{{ genesis_yml.genesis_hash }}"

[log]
    path = "{{ ledger }}/validator.log"
